#box{
    background: linear-gradient(180deg, rgba(160, 221, 255, 0.1) 0%, rgba(160, 219, 255, 0.1) 0.01%, rgba(133, 90, 255, 0.1) 104.59%, rgba(255, 160, 246, 0.1) 104.59%), rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);


}
#box2{
    background: linear-gradient(180deg, rgba(160, 221, 255, 0.1) 0%, rgba(133, 90, 255, 0.1) 100%, rgba(255, 160, 246, 0.1) 100%), rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */


}
#box3{
    background: linear-gradient(180deg, rgba(160, 221, 255, 0.1) 0%, rgba(133, 90, 255, 0.1) 100%, rgba(255, 160, 246, 0.1) 100%), rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);

}
#box4{
    background: linear-gradient(180deg, rgba(160, 221, 255, 0.1) 0%, rgba(160, 219, 255, 0.1) 0.01%, rgba(133, 90, 255, 0.1) 104.59%, rgba(255, 160, 246, 0.1) 104.59%), rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */


}
#circle{
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, #A0DDFF 10%, #855AFF 100%, #FFA0F6 100%);
    filter:blur(150px)
}
#display{
    background: linear-gradient(99.53deg, #07010A 0.68%, #321252 37.72%, #49106C 61.51%, #1A0A29 100%);
}