*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
}


li {
  list-style: none;
}

.active {
  font-weight: bolder;
  /* transition: all 0.5s; */
}

.active .text-1 {
  display: inline-block;
  font-size: 14px;
}

.active .line {
  width: 128px;
  height: 2px;
  /* transition: all 0.5s; */
}

li:hover .text-1{
  display: inline-block;
  font-size: 14px;
}
