@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url(./assets/Gilroy-Light.otf);
}
@font-face {
    font-family: 'GilroyExtraBold';
    src: url(./assets/Gilroy-ExtraBold.otf);
}